AnchorPane.default, BorderPane.default{
	-fx-background-color: #ffffff;
}

Button.abort{
	-fx-background-color: #FF6B68;
	-fx-text-fill: white;
	-fx-background-radius: 10px
}

Button.default{
	-fx-background-color: #486285;
	-fx-text-fill: white;
	-fx-background-radius: 10px
}

Button.leftAdmin{
	-fx-background-color: #486285;
	-fx-text-fill: white;
}

Button.topMangel{
	-fx-background-color: #939382;
	-fx-text-fill: white;
}

Button.topAdmin{
	-fx-background-color: #486285;
	-fx-text-fill: white;
}

ListView.default{
	-fx-background-color: #ffffff;
	-fx-text-fill: #486285;
	-fx-border-color: #486285;
}

ComboBox.default, DatePicker.default{
	-fx-background-color: #ffffff;
	-fx-border-color: #486285;
	-fx-text-fill-color: #486285;
}

TextField.title{
	-fx-text-color: #939382;
	-fx-text-size: 36px;
}

TextField.default, PasswordField.default, TextArea.default{
	-fx-border-color: #486285;
	-fx-background-color: #ffffff;
}

TableView.settle {
    -fx-base: #aaaaaa;
    -fx-control-inner-background: #aaaaaa;
    -fx-background-color: #aaaaaa;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    
}

TableView.completed {
    -fx-base: #719AD1 ;
    -fx-control-inner-background: #719AD1 ;
    -fx-background-color: #719AD1 ;
    -fx-text-fill: white;
    -fx-alignment: center-left;
}  

TableView.process {
    -fx-base: #939382 ;
    -fx-control-inner-background: #486285;
    -fx-background-color: #486285;
    -fx-text-fill: white;
    -fx-alignment: center-left;
}  

TableView.comment {
    -fx-base: #aaaaaa;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-text-fill: #486285;
    -fx-alignment: center-left;
}  

TableView.default {
    -fx-base: #aaaaaa;
    -fx-control-inner-background: #486285;
    -fx-background-color: #486285;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-border-widht: 1 1 1 1;
} 

.table-view:focused .table-row-cell:selected {
-fx-background-color: #939382 ;
-fx-table-cell-border-color: #939382 ;
} 

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

Label.default{
	-fx-background-color: #aaaaaa;
	-fx-text-fill: white;
}

Label.title{
	-fx-text-fill: #939382;
	-fx-font-size: 36pt;
}

Label.subtitle{
	-fx-text-fill: #939382;
	-fx-font-size: 20pt;
}

Label.tableTitle{
	-fx-text-fill: #939382;
	-fx-font-size: 10pt;
}